<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<%- include('../partials/header.ejs') %>
<body>
    <h1>Add a Review for <%= theater.theaterName %></h1>
    <form action="/theaters/<%= theater._id %>/add-review" method="POST">
        <label for="review">Review:</label>
        <textarea name="review" rows="4" cols="50" required></textarea>
        <button type="submit">Submit Review</button>
    </form>
</body>
</html>