<%- include('../partials/header') %>

<form id="new-form" action="/theaters" method="POST">
  <label>Name of Theater:</label>
  <input type="text" name="title">
  <label>Date Visted:</label>
  <input type="text" name="releaseYear">
  <label> Rating</label>
  <select name="mpaaRating">
    <option value="1 star">1 Star</option>
    <option value="2 star">2 Star</option>
    <option value="3 star">3 Star</option>
    <option value="4 star">4 Star</option>
    <option value="5 star">5 Star</option>
  </select>
  <label>Add Comments:</label>
  <input type="checkbox" name="nowShowing" checked>
  <input type="submit" value="Add Movie">
</form>

<%- include('../partials/footer') %>