<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Showing Theater Details for <%= theater.theaterName %></h1> 
	<h2>Name: <%= theater.theaterName %> </h2>
	<a href=/theaters/new> >Add A Review</a>
	<h3>Theater Reviews</h3>
	<div>
	<ul>
		<% theater.theaterReviews.forEach(function(t) { %>
			<h3>
			Review: <%= t.review %> 
			</h3>    
		<%}) %>
	</ul>
	</div>    
</body>
</html>